<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Count</h2>
        <p>Finally works</p>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <p>Finally works</p>
        <p>Yay!</p>
        <p>Sure Does :)</p>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        {% block content %}
            <h2>Header</h2>
        {% endblock %}
    </div>
</body>
</html>
